.company-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.logo {
  margin-bottom: 0.5rem !important;
}

.sidebar .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.1rem;
}

:where(.css-dev-only-do-not-override-1qhn3vk).ant-menu-dark.ant-menu-inline
  .ant-menu-sub.ant-menu-inline,
:where(.css-dev-only-do-not-override-1qhn3vk).ant-menu-dark
  > .ant-menu.ant-menu-inline
  .ant-menu-sub.ant-menu-inline {
  background-color: rgba(0, 12, 23, 0.4);
  border-radius: 8px;
}

.custom-sub-menu-item {
  padding-left: 36px !important;
}

.menu-item-divider {
  background-color: rgba(255, 255, 255, 0.2);
  width: 90%;
  margin: 15px auto !important;
}

.logout-btn {
  width: 100%; /* background-color: gray;
  border-color: gray;
  color: white;
 */
}
