.menu-item {
  padding-left: 18px !important;
}

.company-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.logo {
  margin-bottom: 0.5rem !important;
}
